.screen-container {
  color: white;
  padding: 20px;
}

.favorites-list {
  list-style: none;
  padding: 0;
}

.favorite-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.favorite-item img {
  margin-right: 10px;
  border-radius: 5px;
}
